{% extends 'base.html' %}



{% block content %}

<h3>Your profile</h3>

<p>{{profile.login}}</p>

<p>{{profile.email}}</p>
<p>{{profile.karma}}</p>

<p>{{profile.description}}</p>

{% if profile.profile_img %}
    <img src={{profile.profile_img.url}} alt="{{profile.login}} profile pic">
{% endif %}

{% if user.is_authenticated %}
{% if profile.pk != user.pk %}
    <a href={% url "user_karma_change" login=profile.login %}>
        <button>Karma</button>
    </a>
{% endif %}
{% endif %}


{% endblock content %}