{% extends 'base.html' %}


{% block content %}
<h1>Main site</h1>

{% if user.is_authenticated %}
<form method="POST" action="{% url "meme_add" %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Add meme">
</form>
{% endif %}


{% for m in memes %}
    <div class="meme">
        <h3><a href={% url "meme_view" pk=m.pk %}>
        {{m.title}}
        </a>
        </h3>
        <img src={{m.normal.url}} alt="Meme img">
        <p>{{m.description}}</p>
    </div>
{% endfor %}


{% endblock content %}